.vscode/
build/
_deps_src/
**/.DS_Store
CMakeLists.txt.user
docs/Doxyfile
docs/html
docs/latex
docs/xml
.cache/
.clangd
Testing/
compile_commands.json
finalVN/
vn_final/
*.exe
*.o
*.obj
*.dll
*.so 
*.so.a
vm/res
vm/*.bin